.line {
    width: 8px;
    height: 100px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}.line {
    width: 6px;
    height: 100px;
    background: white;
    position: absolute;
    /* left ap mete nan JS */
}
